<div class="card card--fb">
    <div class="card__platform">
        <img class="card__icon" src="/images/icon-facebook.svg" alt="facebook"/>
      <div class="card__username">@nathanf</div>
    </div>
    <div class="card__count--bg">
      1987
      <div class="card__label">Followers</div>
    </div>
    <div class="card__change--up">
      <img src="/images/icon-up.svg" alt="up arrow">
      <div class="card__number">12 Today</div>
    </div>
  </div>

  <div class="smallCard">
    <div class="top">
      <span class="likes">Page Views</span>
      <img src="/images/icon-facebook.svg"/>
    </div>
    <div class="bottom">
      <span class="small__number">213</span>
      <div>
        <img src="/images/icon-up.svg" alt="up arrow"/>
        <span class="">3%</span>
      </div>
    </div>
  </div>