
:root {
    /* colors */
    --limegreen: hsl(163, 72%, 41%);
    --brightred: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram-start: hsl(37, 97%, 70%);
    --instagram-end: hsl(329, 70%, 58%);
    --youtube: hsl(348, 97%, 39%);
    --toggle-bg-start: hsl(210, 78%, 56%);
    --toggle-bg-end: hsl(146, 68%, 55%);
    --toggle: hsl(230, 22%, 74%);
    --dark-bg: hsl(230, 17%, 14%);
    --dark-top-bg: hsl(232, 19%, 15%);
    --dark-card: hsl(228, 28%, 20%);
    --dark-text1: hsl(228, 34%, 66%);
    --dark-text2: hsl(0, 0%, 100%);
    --light-gb: hsl(0, 0%, 100%);
    --light-top-bg: hsl(225, 100%, 98%);
    --light-card: hsl(227, 47%, 96%);
    --light-text1: hsl(228, 12%, 44%);
    --light-text2: hsl(230, 17%, 14%);

    /* fonts */
    --font-inter: 'Inter', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-inter);
    background: var(--dark-bg);
    color: var(--dark-text2);
}

a, a:visited a:active {
    text-decoration: none;
}

/* typography */

h1, h2, h3 {
    margin-top: 0;
    line-height: 1.1;
}

h1 {
    font-size: 24px;
    margin-bottom: 3px;
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 28px;

    }
}

/* layout */

.container {
    max-width: 1110px;
    padding: 0 25px;
    margin: 0 auto 46px;
}

@media screen and (min-width: 992px){
    .container {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

input[radio] {
    opacity: 0;
    margin: 0;
}

#light:checked {
    right: 3px;
    left: 100%;
}

label[for="dark"] {
    grid-column: 1 / 2;
    justify-self: start;
}

label[for="system"] {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
}

label[for="light"] {
    grid-column: 3 / 4;
    justify-self: end;
}

/* icons */

/* largeCards */

/* smallCards */

/* toggle */

.toggle {
    border: none;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.toggle__button {
    position: absolute;
    left: 3px;
    top: 3px;
    right: 100%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--dark-bg);
}

.toggle__background {
    height: 100%;
    background: linear-gradient(225deg, var(--toggle-bg-start), var(--toggle-bg-end));
    display: block;
    border-radius: 12px;
    position: absolute;
    width: 80%;
    top: 0;
    pointer-events: none;
}

.toggle__wrapper {
    height: 24px;
    position: relative;
}


/* header */

.header {

}

.header__subtitle {
    font-size: 14px;
    font-weight: 700;
    color: var(--dark-text1);
}

@media screen and (min-width: 992px){
    .header {
        margin-top: 36px;
    }
}
